.gridRow {
  height: 20px;
  width: 100%;
  display: flex;
  padding-left: 15px;
}
.gridRow > .number {
  color: white;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.gridRow > .number--relativenumber {
  justify-content: flex-start;
}
